@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: Geist;
  src: url(./webfonts/Geist-Regular.woff2);
}

body {
  font-family: Geist;
}

.geist {
  font-family: Geist;
}

/* Present & Abset Radio button styles */
.ant-radio-wrapper {
  @apply flex items-center !important;
}

/* Present Radio - Green */
.present-radio .ant-radio-checked .ant-radio-inner {
  @apply bg-green-600 border-green-600 !important;
}

.present-radio .ant-radio-checked .ant-radio-inner::after {
  @apply bg-white !important;
}

.present-radio:hover .ant-radio .ant-radio-inner {
  @apply border-green-400 !important;
}

/* Absent Radio - Red */
.absent-radio .ant-radio-checked .ant-radio-inner {
  @apply bg-red-600 border-red-600 !important;
}

.absent-radio .ant-radio-checked .ant-radio-inner::after {
  @apply bg-white !important;
}

.absent-radio:hover .ant-radio .ant-radio-inner {
  @apply border-red-400 !important;
}

/* Optional: Style the label text when checked */
.present-radio .ant-radio-checked + span {
  @apply text-green-600 font-medium !important;
}

.absent-radio .ant-radio-checked + span {
  @apply text-red-600 font-medium !important;
}
